<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="plantilla::head">
        <title>Pc2</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" th:replace="plantilla::menu"></div>
        <div class="container" style="max-width: 400px; margin-top: 50px">
            <div class="card">
                <div class="card-header">
                    Registrar Alumno
                </div>
                <div class="card-body">
                    <form action="/add">
                        <div class="mb-3">
                            <select name="idaut" id="aut" class="form-control">
                                <option value="0">Seleccionar Cliente</option>                                
                                <option th:each="aut: ${auts}" th:value="${aut.id}" th:text="${aut.nomb}" th:selected="false"/>                              
                            </select>
                        </div>
                        <div class="mb-3">
                            <select name="ided" id="ed" class="form-control">
                                <option value="0">Seleccionar usuario</option>                                
                                <option th:each="ed: ${eds}" th:value="${ed.id}" th:text="${ed.username}" th:selected="false"/>                              
                            </select>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control m-25" name="nombre" placeholder="Nombres">        
                        </div>
                        <input type="submit" class="btn btn-primary" value="Guardar">
                    </form>
                </div>
            </div>
    </body>
</html>